@{
    ViewData["Title"] = "Bem-Vindo ao Torneio!";
}


<link rel="stylesheet" href="~/css/welcome.css">

<div class="btnIniciar">
    <a class="btn btn-dark" asp-controller="Tournament" asp-action="Tournament">Iniciar </a>
</div>